<!DOCTYPE html>
<html>
  <head>
    <title>testhtml</title>


  </head>
  <body>
    <div class="basic">
    <h1> hello </h1>

    <img id="gameimg" name="gameimg" src="/static/app2/img/lol.jpeg"></img>

    <br>
    <input type="button" onclick="changeimg()" value="사진변경">
  </div>
  <center>
    <table>
      <tr>
        <td>아이디</td>
        <td><input type="text"></td>
      </tr>
      <tr>
        <td>비밀번호</td>
        <td><input type="password"></td>
      </tr>
    </table>
  </center>
  <link rel="stylesheet" type="text/css" href="/static/app2/css/style.css">
  <script src="/static/app2/js/change.js"></script>
  </body>
</html>
